<h1>Edit task: <%= @task.title%></h1>

<%= link_to 'Back', todolist_path(@todolist), class: 'btn btn-light btn-sm' %>
<hr>

<div class="row">
  <div class="col-12 col-md-6">
    <div class="alert alert-primary" role="alert">
      Only allows letters and numbers in the fields.
    </div>
    <%= form_with(model:[@todolist, @todolist.tasks.find(@task.id)], local: true) do |form| %>
      <div class="field form-group">
        <%= form.label :title %><br>
        <%= form.text_field :title, class: 'form-control' %>
      </div>
      <div class="field form-group">
        <%= form.label :description %><br>
        <%= form.text_area :description, class: 'form-control' %>
      </div>
      <div class="field form-group">
        <%= form.check_box :status, class: 'form-control' %>
      </div>

      <div class="actions">
        <%= form.submit 'Edit task', class: 'btn btn-primary' %>
      </div>
    
    <% end %>
  </div>
</div>