<p id="notice"><%= notice %></p>


<!-- h1>Todolists</h1 -->

<div class="row align-items-center">
  <div class="col-12 col-md-2">
    <div class="containe-img">
      <% if current_user.photo.attached?%>
        <%= image_tag(current_user.photo, style: 'width:100%;height:auto') %>
      <% else %>
        <%= image_tag('avatar.png', style: 'width:100%;height:auto')%>
      <% end %>
    </div>
  </div>
  <div class="col-12 col-md-10">
    <h2>Welcome <%= current_user.name%></h2>
    <p><%= current_user.description%></p>
  </div>
</div>

<hr>

<br>
<%= link_to 'New Todolist', new_todolist_path, class: 'btn btn-primary' %>


<br><br>
<div class="row">
<% current_user.todolists.each do |todolist| %>
  <div class="col-12 col-xl-3 my-1">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-dark text-center"><%= todolist.title %></h5>
      </div>
      <div class="card-footer text-center">
        <%= link_to 'Show', todolist, class: 'btn btn-success btn-sm'%>
        <%= link_to 'Edit', edit_todolist_path(todolist), class: 'btn btn-primary btn-sm'%>
        <%= link_to 'Destroy', todolist, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'%>
      </div>
    </div>
  </div>
<% end %>
</div>

